/* start gloubal rouls */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e3eb;
}

/* end gloubal rouls */

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  text-align: right;
  font-size: 25px;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;

}

.buttons button:active {
  transform: scale(1.05);
}

.operator {
  color: #2f9fff;
}